[Unit]
Description=Timezone Update Service
Wants=network-online.target
After=network.target network-online.target homebridge.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'for i in {1..6}; do tzupdate --debug --timeout 5 && exit 0; done; exit 1'

[Install]
WantedBy=multi-user.target