[Unit]
Description=Timezone Update Service
After=network-online.target nginx.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tzupdate
TimeoutStartSec=30
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
