[Unit]
Description=Homebridge Image First Boot Startup Script
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/first-boot-homebridge
RemainAfterExit=yes
StandardOutput=tty
StandardInput=tty
TTYPath=/dev/tty1

[Install]
WantedBy=multi-user.target